.menu {
    position: fixed; /* Fijar el nav */
    bottom: 0;       /* Ubicarlo en la parte inferior de la página */
    left: 50%;       /* Alinearlo horizontalmente */
    transform: translateX(-50%); /* Centrarlo completamente */
    width: 100%;
    background-color: #00222e;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-x: auto; /* Evitar scroll horizontal */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navegacion {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que se acomoden en varias líneas si es necesario */
    padding: 0.5rem;
    margin: 0;
}

.navegacion li {
    margin: 0 20px;
}

.navegacion a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-navegacion {
    font-size: 2rem;
}

.navegacion-perfil {
    width: 2rem;
    border-radius: 50%;
}

/* MEDIA QUERY para pantallas pequeñas */
@media (max-width: 600px) {
    .navegacion li {
        margin: 0 10px;
    }

    .icono-navegacion {
        font-size: 1.5rem;
    }

    .navegacion-perfil {
        width: 1.5rem;
    }
}
